
<div class="container-fluid">
  <form>
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control"  name = "searchTerm"
        placeholder="Search All Gifs and stickers" aria-describedby="basic-addon2">
      <span class="input-group-text" id="basic-addon2"> <button type="submit"  (click)="searchNewGifs()" 
          class=" btn text-center text-white"><fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button></span>
    </div>
   </form>
</div>  

<!-- Main component  for flag-->
<div class="container-fluid">
  <div class="container-fluid" id="one"></div>
  <p class="up text-white fw-bold">PEACE FOR  UKRAINE</p>
  <div class="container-fluid"id="two"></div>
</div>

<!-- display of Gifs -->
<div class="row">
  <div class="container">
    <p class="head text-white ms-5 fs-4 mt-2">Trending</p>
  </div>
</div>

<div class="container content">

  <div class="col-md-12" *ngFor="let gifsImage of gifsImages">
    <img src="{{gifsImage.images.downsized.url}}" alt="Trending Gifs" />
  </div>

</div>


