#navbarNavDropdown ul li a{
    border-bottom: 4px solid #31bafc;
    padding-left: 30px;
    width: 95%;
    text-align: center
    
}
li a .btn{
    /* width: 200%; */
}
.other li a .btn{
    border:none;
}
.navbar-nav .nav-item a:hover{
    background:linear-gradient(to right, #31bafc, #686efc);
}