<p class="text-center bg-light">Search for amazing Gifs</p>

<div class="container-fluid">
    <form>
      <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" id="searchTerm" name="searchItem" placeholder="Search All Gifs and stickers" aria-label="Search"
          aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><button type="submit" id="btn" class="text-center"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button></span>
      </div>
    </form>
  </div>
